* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url('/website_imgs/carl-raw-m3hn2Kn5Bns-unsplash.jpg') no-repeat;
    background-size: 100%;
    color: white;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: transparent;
    padding: 10px;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(5px); /* Thêm hiệu ứng blur nền */
    display: flex;
    justify-content: space-between;
}

.header div {
    width: 30%;
}

.main-menu {
    list-style: none;
    height: 100%;
}

.menu_item {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu_item:hover {
    color: #afe0f5;
    text-shadow: 0.1px 0.1px #afe0f5;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transform: translateY(-2px);
}

.logo img {
    height: 100%;
    border-radius: 5px;
}

.searching-bar input {
    border-radius: 5px;
    background-color: transparent;
    border-color: #DFF8EB;
    display: none;
}

.searching-bar * {
    margin: 0px 2px;
}

.searching-bar input:hover {
    transform: translateY(-1px);
}

.searching-bar button {
    color: #DFF8EB;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header.black-bg {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#to-top {
    position: fixed;
    right:  25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    background-color: #faa916;
    border-radius: 50%;
    border-color: black;
    visibility: hidden;
}

footer {
    background-color: black;
    padding: 5px;
}

footer i {
    font-size: larger;
    color: white;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: top;
}

footer ul a {
    margin: 0px 10px;
}

footer #fb:hover {
    color: #4267B2;
    transition: 0.1s;
}

footer #ig:hover {
    color: #bc2a8d;
    transition: 0.1s;
}

footer #in:hover {
    color: #0A66C2;
    transition: 0.1s;
}

footer #yt:hover {
    color: #CD201F;
    transition: 0.1s;
}

footer div {
    display: flex;
    justify-content: space-evenly;
}

footer div section {
    width: 45%;
}

footer table {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    color: w;
}

footer td:hover {
    font-weight: bold;
    cursor: pointer;
    color: red;
    transition: 0.5s;
}

footer img {
    border-radius: 5px;
}