* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('/website_imgs/carl-raw-m3hn2Kn5Bns-unsplash.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: transparent;
    padding: 10px;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(5px); /* Thêm hiệu ứng blur nền */
    display: flex;
    justify-content: space-between;
}

.header div {
    width: 30%;
}

.main-menu {
    list-style: none;
    height: 100%;
}

.menu_item {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    transition: 0.3s;
}

.menu_item:hover {
    color: #afe0f5;
    text-shadow: 0.1px 0.1px 5px #afe0f5;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transform: translateY(-2px);
}

.logo img {
    height: 100%;
    border-radius: 5px;
}

.searching-bar input {
    border-radius: 5px;
    background-color: transparent;
    border-color: #DFF8EB;
    display: none;
    color: white;
}

.searching-bar * {
    margin: 0px 2px;
}

.searching-bar input:hover {
    transform: translateY(-1px);
}

.searching-bar button {
    color: #DFF8EB;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header.black-bg {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 10;
}

/*To top button*/
#to-top {
    position: fixed;
    right:  25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    background-color: #faa916;
    border-radius: 50%;
    border-color: black;
    visibility: hidden;
}

/*Main*/
.game-area {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 10% auto;
    width: 80%;
}

/*Ads*/
section.ads {
    width: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 50px auto;
    justify-content: space-evenly;
    align-content: center;
    height: 100px;
}

section.ads > div {
    width: 15%;
    height: 100%;
}

section.ads div img {
    width: 100%;
    height: 100%;
}

.move {
    height: 100%;
    overflow: hidden;
}

.inner_move {
    height: calc(99px * 3);
}

.inner_move div {
    height: 99px;
}

.le div {
    animation: play 3s linear infinite alternate;
}

.ri div {
    animation: play 3s linear infinite alternate-reverse;
}

@keyframes play {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-99px * 2));
    }
}

/*Comment*/
.comment-section {
    width: 90%;
    background-color: #0180D4 ;
    border-radius: 30px;
    margin: 10% auto;
    padding: 10px;
}

h2 {
    text-align: center;
}

#comment-form {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
  }
  h2 {
    margin: 0 0 15px;
    color: #333;
    font-size: 22px;
  }
  #comment-form input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #comment-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  #comment-form button:hover {
    background-color: #0056b3;
  }
  #comments-list {
    width: 100%;
  }
  #comments-list p {
    width: 100%;
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
    padding: 5px 10px;
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #comments-list p span {
    font-weight: bold;
  }

/*Footer*/
footer {
    background-color: black;
    padding: 5px;
    font-size: 1.3vw;
}

footer i {
    font-size: 2.5 vw;
    color: white;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: top;
}

footer ul a {
    margin: 0px 10px;
}

footer i:hover {
    transition: 0.1s;
    animation: shake 0.4s ease;
}

footer #fb:hover {
    color: #4267B2;
}

footer #ig:hover {
    color: #bc2a8d;
}

footer #in:hover {
    color: #0A66C2;
}

footer #yt:hover {
    color: #CD201F;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer div section {
    width: 45%;
}

footer table {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
}

footer td::after {
    content: "";
    display: block;
    width: 0%;
    height: 0.1vw;
    background-color: red;
    margin: auto;
    transition: 0.75s;
}

footer td:hover::after {
    width: 50%;
}

footer td:hover {
    font-weight: bold;
    cursor: pointer;
    color: red;
    transition: 0.5s;
}

footer img {
    border-radius: 5px;
    width: 50%;
}

/*Responsive*/

@media screen and (max-width: 1000px) {
    .header {
        height: 10%;
        font-size: 2.5vw;
        justify-content: space-evenly;
    }

    .game-area {
        width: auto;
        margin-top: 20%;
    }

    .header .logo {
        display: none;
    }

    footer {
        font-size: 1.8vw;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    footer {
        font-size: 2.5vw;
    }

    footer div {
        flex-direction: column;
        height: auto;
    }
    footer div section {
        width: 100%;
    }
}

/*key frame*/
@keyframes shake {
    0% {
        rotate: 15deg;
    }
    20% {
        rotate: -15deg;
    }
    40% {
        rotate: 15deg;
    }
}
