body {
    margin: 0;
    padding: 0;
    background: url('carl-raw-m3hn2Kn5Bns-unsplash.jpg') no-repeat;
    background-size: 100%;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px;
    color: black;
    text-align: center;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(5px); /* Thêm hiệu ứng blur nền */
}

.header.black-bg {
    background-color: black;
    color: white;
}
